/* 在屏幕上，并且最大的宽度是800像素，设置我们想要的样式 */
@media screen and (min-width:750px) {
	html {
		font-size: 75px !important;
	}
}

html{
	height: 100%;
}

body {
	width: 10rem;
	height: 100%;
	position: relative;
	margin: 0 auto;
	font-family: Arial, Helvetica;
	background: #f2f2f2;
	padding: 0;
	box-sizing: border-box;
}
